{% extends "base.html" %}
{% block content %}

<form method="post" class="form-horizontal" action="" width="300px"  enctype='multipart/form-data'>
	{% csrf_token %}
	<fieldset>
		 {{ clave_articulo_form.errors }}
        <legend>Clave:</legend>
		<div class="span" >
		    <label>Clave</label>
		    <div class="input-prepend input-append">
		      {{ clave_articulo_form.clave }}
			</div>
		</div>
		<div class="span" >
		    <label>Rol</label>
		    <div class="input-prepend input-append">
		      {{ clave_articulo_form.rol }}
			</div>
		</div>
	</fieldset>
	<fieldset>
		{{articulo_form.errors }}
        <legend>Datos generales:</legend>
		<div class="span" >
		    <label>nombre</label>
		    <div class="input-prepend input-append">
		      {{articulo_form.nombre }}
			</div>
		</div>
		<div class="span" >
		    <label>Linea</label>
		    <div class="input-prepend input-append">
		      {{articulo_form.linea }}
			</div>
		</div>
		<div class="span" >
		    <label>Unidad de venta</label>
		    <div class="input-prepend input-append">
		      {{articulo_form.unidvta }}
			</div>
		</div>
		<div class="span" >
		    <label>Unidad de compra</label>
		    <div class="input-prepend input-append">
		      {{articulo_form.unidcopra }}
			</div>
		</div>
	</fieldset>
	<fieldset>
		{{ precio_articulo_form.errors }}
		{{ impuesto_articulo_form.errors }}
        <legend>Precio:</legend>
		<div class="span" >
		    <label>precio_empresa</label>
		    <div class="input-prepend input-append">
		      {{ precio_articulo_form.precio_empresa }}
			</div>
		</div>
		<div class="span" >
		    <label>precio</label>
		    <div class="input-prepend input-append">
		      {{ precio_articulo_form.precio }}
			</div>
		</div>
		<div class="span" >
		    <label>moneda</label>
		    <div class="input-prepend input-append">
		      {{ precio_articulo_form.moneda }}
			</div>
		</div>

		<div class="span" >
		    <label>impuesto</label>
		    <div class="input-prepend input-append">
		      {{ impuesto_articulo_form.impuesto }}
			</div>
		</div>
	</fieldset>
	<fieldset>
		{{ nivel_articulo_form.errors }}
        <legend>Puntos de reorden:</legend>
		<div class="span" >
		    <label>localizacion</label>
		    <div class="input-prepend input-append">
		      {{nivel_articulo_form.localizacion}}
			</div>
		</div>
		<div class="span" >
		    <label>inventario_minimo</label>
		    <div class="input-prepend input-append">
		      {{nivel_articulo_form.inventario_minimo}}
			</div>
		</div>
		<div class="span" >
		    <label>inventario_maximo</label>
		    <div class="input-prepend input-append">
		      {{nivel_articulo_form.inventario_maximo}}
			</div>
		</div>
		<div class="span" >
		    <label>punto_reorden</label>
		    <div class="input-prepend input-append">
		      {{nivel_articulo_form.punto_reorden}}
			</div>
		</div>
		<div class="span" >
		    <label>almacen</label>
		    <div class="input-prepend input-append">
		      {{nivel_articulo_form.almacen}}
			</div>
		</div>
	</fieldset>
	<div id="modal_cargando" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	
  </div>
	<div class="form-actions mainmenu">
		<input class='btn' type="submit" value='Guardar' onclick='$("#modal_cargando").modal()'/> 
	</div>
	
</form>
{% endblock %}
