<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Micosip</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <!-- Estilos -->
  <link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap.css'/>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'/>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
  <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{STATIC_URL}}css/!style.css" />

  {% block style_css %}{% endblock %}
  {% block modulestyle_css %}{% endblock %}

  <link rel='shortcut icon' href='{{STATIC_URL}}img/logo.png'>

  <script src="{{STATIC_URL}}js/jquery.min.js" ></script>
  <script src='{{STATIC_URL}}js/bootstrap.js' ></script>
  <script src='{{STATIC_URL}}js/jquery-ui-1.8.23.custom.min.js'></script>
  <script src='{{STATIC_URL}}js/jquery-ui-timepicker.js'></script>
  <script src='{{STATIC_URL}}js/jquery.tablesorter.js'></script>
  
  <script src='{{STATIC_URL}}js/jquery.cookie.js'></script>
  <script src='{{STATIC_URL}}js/jquery.hotkeys.js'></script>
  <script src='{{STATIC_URL}}js/jquery.jstree.js'></script>

  {% block js_code %}
  {% endblock %}
  
</head>
<body>
	<div class="navbar-inner navbar-inner_min">
		<div class="navbar navbar-static">
			<ul class="nav" role="navigation">
				<li class="dropdown">
					<li class="dropdown">
						<a id="drop1" href="/articulos/"role="button" > <i class="icon-barcode"></i> Articulos</a>
					</li>
       </li>
     </ul>
     <ul class="nav pull-right">
          <div id=" span breadcrumbs" >
            <div class ='span'>
              {% if not user.is_anonymous %}
              {{ user.username }} <a href="/logout/" class='btn btn-mini btn-danger' style=" margin-top: 1px; ">Salir</a>
              {% else %}
              <a class="btn btn-mini btn-success" href="/login/" style=" margin-top: 1px; ">Iniciar Sesión</a>
              {% endif %}
            </div>
          </div>
        </ul>
   </div>
 </div>
 <section class='content' style='clear:both;'>
    <div class="pagecontent">
      {% block content %}{% endblock %}
    </div>
  </section>
  <footer>
    SIC &copy; 2013
  </footer>

  
</body>
</html>